docx==0.2.4
filetype==1.2.0
flasgger==0.9.7.1
Flask==1.1.2
ftfy==6.2.0
numpy==1.24.2
ocrmypdf==16.3.1
pdftext==0.3.7
Pillow==9.3.0
Pillow==10.3.0
pydantic==2.7.1
pydantic_settings==2.2.1
pypdfium2==4.30.0
python-dotenv==1.0.1
rapidfuzz==2.15.1
regex==2022.7.9
scikit_learn==1.1.3
surya==1.0.0
tabulate==0.8.10
texify==0.1.9
torch==2.0.0
transformers==4.41.0
unstructured==0.14.0
