FLASK_ENV=production # production / development

API_URL="http://127.0.0.1:8765"
WEB_URL="http://127.0.0.1:3000"

ENABLE_LLM=True

# llm

ANTHROPIC_DEFAULT_MODEL="claude-3-opus-20240229"
BAICHUAN_DEFAULT_MODEL="Baichuan3-Turbo"
MOONSHOT_DEFAULT_MODEL="moonshot-v1-128k"
OLLAMA_DEFAULT_MODEL="ollama3"
OPENAI_DEFAULT_MODEL="gpt-3.5-turbo"
ZHIPUAI_DEFAULT_MODEL="glm-4"

# llm config

OPENAI_API_KEY=""
OPENAI_API_BASE=""
# OPENAI_PROXY=""
ANTHROPIC_API_KEY=""
BAICHUAN_API_KEY=""
MOONSHOT_API_KEY=""
ZHIPUAI_API_KEY=""


TRANSFORMERS_CACHE="./transformers_cache"

USE_DB=True
SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://e2m:password@localhost/e2m_db"
SQLALCHEMY_BINDS='{"e2m_db": "postgresql+psycopg2://e2m:password@localhost/e2m_db"}'

DOC_CONVERTER=unstructured  # unstructured / default
DOCX_CONVERTER=unstructured # unstructured / default
PDF_CONVERTER=unstructured  # unstructured / default
TXT_CONVERTER=unstructured  # unstructured / default
HTML_CONVERTER=unstructured # unstructured / jina / default
HTM_CONVERTER=unstructured  # unstructured / jina / default

JPG_CONVERTER=default  # unstructured / default
JPEG_CONVERTER=default # unstructured / default
PNG_CONVERTER=default  # unstructured / default
GIF_CONVERTER=default  # unstructured / default
SVG_CONVERTER=default  # unstructured / default

CSV_CONVERTER=default  # unstructured / default
XLSX_CONVERTER=default # unstructured / default
XLS_CONVERTER=default  # unstructured / default

MP3_CONVERTER=default  # default
WAV_CONVERTER=default  # default
FLAC_CONVERTER=default # default

MP4_CONVERTER=default # default
AVI_CONVERTER=default # default
MKV_CONVERTER=default # default
