# Flask API
Flask==3.0.3
flasgger==0.9.7.1
flake8==7.0.0

# Pydantic
pydantic==2.7.1
pydantic-settings==2.2.1

# File convertor denpendencies
python-docx==1.1.2
unstructured[all-docs]==0.14.0

# marker-api denpendencies
ftfy==6.2.0
pypdfium2==4.30.0
pdftext==0.3.7
regex==2024.4.28
rapidfuzz==3.8.1
texify==0.1.9
scikit-learn==1.5.0
Pillow==10.3.0
transformers==4.41.0
numpy==1.26.2
python-dotenv==1.0.1
torch==2.3.0
tqdm==4.66.1
tabulate==0.9.0
grpcio==1.63.0
surya-ocr==0.4.7

# gunicorn to run the server
gunicorn==22.0.0
